@font-face {
  font-family: 'Heebo';
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/heebo/Heebo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/heebo/Heebo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/heebo/Heebo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/heebo/Heebo-Black.ttf') format('truetype');
}
